
.containerPrincipalP {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.buttonP1 {
    background-color: #000000;
    color: white;
    border-radius: 5px;
    padding: 1px;
}

.containerP1 {
    padding: 10px;
    border: none;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.titleP {
    text-align: center;
    margin-bottom: 10px;
}

.descriptionP {
    display: flex;
    justify-content: center;
    align-items: start;
}

.precioP1 {
    text-align: center;
    margin-top: 10px;
}

.imgP1 {
    width: 100%;
    object-fit: cover;
    display: block;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.redirect1 {
    text-decoration: none;
    color: white;
}