* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.padre {
    
    
    border: 1px solid red;

    display: grid;
    grid-template-columns: 100px 100px 1fr;
    grid-template-rows: 100px 60px 60px;
    gap: 10px;

}

.hijo {
    border: 1px solid blue;

    display: flex;
    justify-content: center;
    align-items: center;

}

.largo {
    grid-column: 1 / 3;
}

.alto {
    /* grid-row: 2 / 4; */
    grid-row: span 2;
}

.altoitem5 {
    grid-row: 2 / 4;
    grid-column: 3 / 4;
}
