* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background-color: lightblue;
}

.padre {
  /* height: 100vh; */

  display: grid;
  /* background-color: darkblue; */

  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  gap: 20px;

  padding: 20px;
}

.card {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}
