* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  /* border: 3px solid red; */
  padding: 0 30px 0 30px;

  height: 100vh;

  background: linear-gradient(rgba(0, 0, 255, 1), rgba(155, 0, 0, 0.7)),
  url("https://images.unsplash.com/photo-1550745165-9bc0b252726f?ixlib=rb-4.0.3&auto=format&fit=crop&w=1920&q=80");

  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

h1 {
    font-size: 55px;
    color: white;
    text-align: center;
}

p {
    font-size: 18px;
    margin: 0 0 20px 0;
    color: white;
    text-align: center;
}

button {
    padding: 13px 30px 13px 30px;
    font-size: 16px;
    border-radius: 30px;
    font-weight: 600;
    background-color: #ff4757;
    border: none;
    color: white;
}
