* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

.principal {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 40px;

    background-color: #f0f2f5;
}

.container {
    border: none;
    width: 350px;
    height: 365px;
    background-color: white;
    border-radius: 20px;
    padding: 10px;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.container img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 4px solid #6c5ce7;
    margin-bottom: 20px;
}

.container button {
    color: white;
    background-color: #6c5ce7;
    border-radius: 30px;
    border: none;
    padding: 10px 20px;
}

#parrafo {
    color: #888;
}

.container h2 {
    font-size: 30px;
}

.container2 {
    border: none;
    width: 350px;
    height: 365px;
    background-color: white;
    border-radius: 20px;
    padding: 10px;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.container2 button {
    color: black;
    background-color: #89ef9a;
    border-radius: 30px;
    border: none;
    padding: 10px 20px;
}

.container2 img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 4px solid #89ef9a;
    margin-bottom: 20px;
}

button {
    cursor: pointer;
    transition: 0.3s;
}

/* hover: cuando se pasa el mouse por encima */
.container button:hover {
    background-color: #4530e8;
    transform: scale(1.08);
}
.container2 button:hover {
    background-color: #26e946;
    transform: scale(1.08);
}

/* active: mientras se da clic */
.container button:active { 
    transform: scale(0.9);
}
.container2 button:active {
    transform: scale(0.5);
}
